
  <app-navbar></app-navbar >

<!--Formulaire bootstrap-->
<form #addtForm="ngForm" (ngSubmit)="ajout(addtForm)" >
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1> Ajouter une ticket <br/> <small> Merci de renseigner les informations nécessaire </small></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <div class="form-group">
          <label for="Titre du ticket">Titre du ticket</label>
          <input type="text" class="form-control" id="label" name="label" placeholder="Titre du ticket" ngModel required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-7">
        <div class="form-group">
          <label for="Description">Description :</label>
          <textarea class="form-control" id="description" name="description" placeholder="Description" ngModel required></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <div class="form-group">
          <label for="Demandeur">Demandeur</label>
          <input type="text" class="form-control" id="demandeur" name="demandeur" placeholder="Demandeur" [ngModel]="nomDemandeur" required>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-3">
        <div class="form-group">
          <label for="Responsable">Responsable</label>
          <input type="text" class="form-control" id="responsable" name="responsable" placeholder="Responsable" ngModel required>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <div class="form-group">
          <label for="Dateouverture">Date ouverture</label>
          <input type="date" class="form-control" id="dateouv" name="dateouv" placeholder="Dateouverture"  [ngModel]="Currentdate | date:'yyyy-MM-dd'" required>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-3">
        <div class="form-group">
          <label for="Urgence">Urgence</label>
          <input type="text" class="form-control" id="urgence" name="urgence" placeholder="Urgence" ngModel required>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">
      <div class="col-md-offset-5 col-md-1">
        <button type="submit" class="btn btn-primary" [disabled]="!addtForm.valid">Envoyer mes informations</button>
      </div>
    </div>
</form>
