<ul>
  <li><a class="active" href="/dashboard">Home</a></li>
  <li><a routerLink="/ajoutticket">Ajouter une ticket</a></li>
  <li><a routerLink="/consulterliste">Consulter liste des tickets</a></li>
  <li *ngIf="isAdmin()" ><a routerLink="/ajoututilisateur">Ajouter un utilisateur </a></li>
  <li *ngIf="isAdmin()"><a routerLink="/consulterutilisateur" >Consulter Utilisateur </a></li>
  <li><a routerLink="/contact" >Contact US </a></li>
  <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
  <!--Bootstrap navbar-->
  <!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" > Gestion Tickets</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Home</a></li>
      <li><a routerLink="/ajoutticket">Ajout tickets </a></li>
      <li><a routerLink="/consulterliste">Consulter liste des tickets</a></li>
      <li><a routerLink="/ajoututilisateur" >Ajouter un utilisateur</a></li>
      <li><a routerLink="/consulterutilisateur" >Consulter Utilisateur </a></li>
      <li><a routerLink="/contact" >Contact US </a></li>
      <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
-->
