.body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
  font-size: 40px;
}
email{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:seagreen;
}
img{
  text-align: center;
}

