<app-navbar></app-navbar>
<form #addForm="ngForm" (ngSubmit)="update(addForm) ">
    <div class="container">
     <div class="row">
        <div class="col-md-offset-2 col-md-8">
             <h1> Mise a jour d'un utilisateur <br/></h1>
         </div>
     </div>
     <div class="row">
          <div class="col-md-offset-2 col-md-3">
              <div class="form-group">
                  <input type="hidden"  id="iduser" name="iduser"  [(ngModel)]="users.id_Utilisateur"   >
                   <label for="nom">Nom</label>
                   <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" [(ngModel)]="users.nom" required >
              </div>
          </div>
          <div class="col-md-offset-1 col-md-3">
               <div class="form-group">
                   <label for="Prenom">Prénom</label>
                   <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" [(ngModel)]="users.prenom" required >
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-offset-2 col-md-7">
              <div class="form-group">
                  <label for="Email">Email address</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="users.email" required>
              </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-offset-2 col-md-7">
              <div class="form-group">
                  <label for="role">Role</label>
                  <input type="text" class="form-control" id="role" name="role" placeholder="Role" [(ngModel)]="users.role" required>
               </div>
            </div>
     </div>
     <div class="row">
         <div class="col-md-offset-2 col-md-3">
              <div class="form-group">
                  <label for="Password">Mot de passe</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="users.password" required>
               </div>
          </div>
         <div class="col-md-offset-1 col-md-3">
              <div class="form-group">
                  <label for="Vpassword">Vérification mot de passe</label>
                  <input type="password" class="form-control" id="vpassword" name="vpwd" placeholder="Vérification mot de passe" [(ngModel)]="users.password" required>
               </div>
         </div>
     </div>
     <div class="row">
          <div class="col-md-offset-2 col-md-3">
              <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                  <input type="text" class="form-control" placeholder="Téléphone" id ="tel" name="tel" aria-describedby="basic-addon1" [(ngModel)]="users.telephone" required >
               </div>
               <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-globe"></span>
                  <input type="text" class="form-control" placeholder="Adresse" id ="adr" name="adr" aria-describedby="basic-addon1" [(ngModel)]="users.Adresse" required>
               </div>
           </div>
     </div>

     <br/>

     <div class="row">
           <div class="col-md-offset-5 col-md-1">
               <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Envoyer mes informations</button>
           </div>
     </div>
    </div>
   </form>
