<app-navbar></app-navbar>
<!--Tableau Statique-->
<!--
  <table border="2">
  <tr>
    <th>Id ticket</th>
    <th>Nom ticket</th>
    <th>Description</th>
    <th>Statut</th>
    <th>Demandeur</th>
    <th>Responsable</th>
    <th>Urgence</th>
    <th>Date ouverture</th>
    <th>Date fermeture</th>
  </tr>
</table>
-->
<!--Tableau bootstrap-->
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom Ticket</th>
      <th scope="col">Description</th>
      <th scope="col">Statut</th>
      <th scope="col">Demandeur</th>
      <th scope="col">Responsalble</th>
      <th scope="col">Urgence</th>
      <th scope="col">Date ouverture</th>
      <th scope="col">Date fermeture</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of ticket | async ; let i = index  ">
      <th scope="row">{{i+1}}</th>
      <td>{{t.label}}</td>
      <td>{{t.description}}</td>
      <td>{{t.statut}}</td>
      <td>{{t.demandeur}}</td>
      <td>{{t.responsable}}</td>
      <td>{{t.urgence}}</td>
      <td>{{t.dateouv}}</td>
      <td>{{t.datefer}}</td>
    </tr>
  </tbody>
</table>
