  <app-navbar></app-navbar >

<!--Tableau bootstrap-->
<body></body>
<div class="table-responsive">
  <table class="table table-dark" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Etat</th>
      <th scope="col">Role</th>
      <th scope="col">telephone</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users | async ; let i = index  " >
      <th scope="row">{{i+1}}</th>
      <td>{{u.nom}}</td>
      <td>{{u.prenom}}</td>
      <td>{{u.email}}</td>
      <td>{{u.etat}}</td>
      <td>{{u.role}}</td>
      <td>{{u.telephone}}</td>
      <td>{{u.Adresse}}</td>
      <td><button (click)="remove(u.id_Utilisateur)">remove</button></td>
      <td><a routerLink="/updateutili/{{u.id_Utilisateur}}" >update </a></td>
      <td><a routerLink="/consultutilisateur/{{u.id_Utilisateur}}" >Consulter </a></td>
    </tr>
  </tbody>
</table>
</div>

